<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BJJconnect - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/blackbelt.webp') }}" type="image/x-icon">
</head>
<body>
    <!-- Inlogknop rechtsboven -->
    <a href="{{ url_for('login') }}" class="logout-btn">Log in</a>
    

    <!-- Titel BBJconnect in een strakke balk -->
    <div class="title-container">
    <div class="title">BJJConnect</div>
    </div>


    <!-- Knoppen onder de titel -->
    <div class="buttons">
        <span class="btn">Gi</span>
        <span class="btn">No gi</span>       
    </div>
</body>
</html>